html, body {
    padding: 0 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 1.5em;
    overflow: hidden;
}
img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
a, a:visited {
    color: #8765FB;
}
.slide {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
    padding: 2em;
}
.slide:first-child {
    visibility: visible;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

blockquote {
    margin: 0;
    padding: 0 2em;
    border-left: 6px solid #8765FB;
    color: #5D5D5D;
}
mark {
    background: #95FF8E;
}
pre {
    color: #8765FB;
    padding: 2em;
    font-size: 1.2em;
    background: #F5F5F5;
}
iframe {
    display: block;
    margin: 0 auto;
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;
}

.background-caption {
    position: absolute;
    bottom: 1em;
    color: #000;
    background: #fff;
}

figcaption {
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 0.6em;
}

.has-text::after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

html, body {
    background: blue;
    color: white;
}

figcaption {
    color: rgb(124, 158, 255);
}

blockquote {
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    color: #64FE4E;
    border-left: 6px solid #E8FB65;
}

blockquote strong {
    color: rgb(230, 243, 102);
}

a, a:visited {
    color: #FE9E9E;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
}

